{% extends 'home/base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow mt-5">
        <div class="card-body">
          <h3 class="text-center mb-4">Student Login</h3>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Username : </label>
              <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Password : </label>
              <input type="password" name="password" class="form-control" required>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger">
              {{ form.errors }}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

#paras_user
#rano@2025
#manvik_user
#man@2026

#superuser : paraspurwar
#password: purwarai@456